
.grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.sideBar {
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    position: relative;
    z-index: 999;
}



.msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg p {
    font-weight: bold;
    padding: 5px;
}

.msg p:hover {
    cursor: pointer;
}

.input {
    margin: 10px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.input img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 6px;
}

.input input {
    height: 40px;
    padding-left: 30px;
    font-size: 14px;
    border: none;
    outline: none;
    box-shadow:  0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.logOut {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 80px;
    height: 22px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    right: 30px;
}
.logOut p {
    padding: 5px;
    font-size: 15px;
}

.logOut p:hover {
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-rows: 50px 1fr 60px;
}

.upper {
    box-shadow: 2px 0 3px rgba(0,0,0,0.3);
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.upper img {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 35px;
    border-radius: 50px;
    margin-right: 10px;
}

.username {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0;
}

.email{
    font-size: 12px;
}


.middle {
   padding: 15px;
   overflow-y: auto;
   display: flex;
   align-items: flex-end;
}

.middle div {
    width: 100%;
}

.lower {
    padding: 10px;
    box-shadow: 3px 0 3px rgba(0,0,0,0.3);
}

.lower form {
     display: flex;
     gap: 5px;
}

.lower form input {
    width: 90%;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.lower form button {
    width: 10%;
    height: 40px;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.lower form button:hover {
    cursor: pointer;
}