

.login {
    background-color: '#ffffff';
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    height: 450px;
    margin: 0 10px ;
}

.img {
    width: 40px;
    height: 40px;
    background-color: blue;
    padding: 8px;
    border-radius: 50px;
}

.login h3 {
    margin: 10px 0;
}

.login p {
    color: grey;
}

.login h5 {
    font-size: 12px;
    text-align: right;
    margin: 15px 0;
}

.reset {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.612);
}

.login button {
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(0, 0, 255);
    margin: 0 0 10px 0;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.login button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 255,0.7);
}

.login form p {
    font-size: 12px;
    margin: 10px 0;
}