.friend {
    padding: 10px 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend:hover {
    cursor: pointer;
    border-left: 2px solid blue;
}

.friend img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.info{
    width: 70%;
    padding: 5px 10px;
}

.info h5 {
    font-size: 12px;
    padding-bottom: 5px;
}

.info p {
    font-size: 10px;
}

.time {
    font-size: 10px;
    align-self: self-start;
    padding: 5px 10px;
}