
.received {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    display: inline-block;
}

.sent {
    background-color: blue;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
    color: white;
    border-bottom-right-radius: 0;
    display: inline-block;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.left, .right {
    margin: 10px 0;
}