.register {
    background-color: '#ffffff';
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    height: auto;
    margin: 10px 10px;
}

.img {
    width: 40px;
    height: 40px;
    background-color: rgb(212, 0, 255);
    padding: 8px;
    border-radius: 50px;
}

.register h3 {
    margin: 10px 0;
}

.register p {
    color: grey;
}


.register button {
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(212, 0, 255);
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.register button:hover {
    cursor: pointer;
    background-color: rgba(212, 0, 255,0.7);
}

.reset {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.612);
}

.register form p {
    font-size: 12px;
}

.register form .err {
    color: red;
}